<h3><%= @tea.type.name %></h3>

<h1><%= @tea.name%></h1>

<h2>Origin: </h2>
<p><%= @tea.origin %></p>

<h2>Flavor & Aroma: </h2>
<p><%= @tea.profile %></p><br>

<h2>How to brew <%= @tea.name %> tea: </h2>
<p><%= @tea.instruction %></p>
