<div class="container">
    <h1><%= @tea.name%></h1>
    <p>Type: <%= link_to @tea.type.name, @tea.type %></p>
    <h3>Origin: </h3>
    <p><%= @tea.origin %></p>

    <h3>Flavor & Aroma: </h3>
    <p><%= @tea.profile %></p>

    <h3>How to brew <%= @tea.name %> tea: </h3>
    <p><%= @tea.instruction %></p><br>

    <% if current_user.try(:admin?) %>
        <p><a class="btn btn-primary btn-lg" href="/types/<%= @tea.type.id%>/teas/<%= @tea.id%>/edit" role="button">Edit <%= @tea.name%></a></p>
        <p><a class="btn btn-primary btn-lg" href="/types/<%= @tea.type.id%>/teas/<%= @tea.id %>/destroy" role="button">Delete <%= @tea.name%></a></p>
    <% end %>

    <p><a class="btn btn-primary btn-lg" href="/types/<%= @tea.type.id%>/teas" role="button">See other <%= @tea.type.name %> tea</a></p>

</div>
