
<div class="container-fluid">
    <div class="col-md-8">
        <div id="js-type">
            <h2>About <%= @type.name%> Tea: </h2>
            <p><%= @type.about %></p>

            <h2>How to brew <%= @type.name %> tea: </h2>
            <p><%= @type.instruction %></p>
        </div>
        
        <nav>
          <ul class="pagination justify-content-end">
            <li class="page-item"><a class="page-link" id="js-previous-type" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" id="js-next-type" href="#">Next</a></li>
          </ul>
        </nav>

        <% if current_user.try(:admin?) %>
            <p><a class="btn btn-primary" href="/types/<%=@type.id %>/edit" role="button">Edit <%= @type.name %> category</a>    <a class="btn btn-primary" href="/types/<%= @type.id%>/destroy" role="button">Delete <%= @type.name %> category</a></p>
        <% end %>
        <div id="clicked-tea">
        
        </div>
    </div>

    
    <div class="col-sm-3">
        <div id="js-type-tea">
            <h3>List of <%= @type.name%> teas: </h3>
            <%= render @type.teas %>
            <br>
        </div>
        <% if current_user %>
        <p>Didn't see what you're looking for?</p>
        <p><a class="btn btn-primary" href="/types/<%=@type.id %>/teas/new" role="button">Add a new <%= @type.name%> tea</a></p>
        <% else %>
        <br>
        <p><a class="btn btn-primary" href="/users/sign_in" role="button" id="add-review">Sign in to add tea and reviews!</a></p>
        <% end %>
        <p><a class="btn btn-primary" href="/types" role="button">Back to Main</a></p>
    </div>

</div>

