<div>
    <h1>{{name}}</h1>
    <h3>Origin: </h3>
    <p>{{origin}}</p>

    <h3>Flavor & Aroma: </h3>
    <p>{{profile}}</p>

    <h3>How to brew {{name}} tea: </h3>
    <p>{{instruction}}</p><br>
</div>

<div class="list-group">
	<a href="" id="js-reviews-link" class="btn btn-primary" data-toggle="collapse" role="button">Reviews({{reviews.length}})</a>
	<div id="clicked-reviews">
	</div>

</div>

<div>
    {{#if currentUser}}
    	<a class="btn btn-primary" href="/teas/{{id}}/reviews/new" role="button" id="add-review">Add review for "{{name}}" </a>
        <a class="btn btn-primary" href="/types/{{type_id}}/teas/{{id}}/destroy" role="button">Delete "{{name}}"</a>
    {{/if}}
</div>