<div>
    <h1>{{name}}</h1>
    <h3>Origin: </h3>
    <p>{{origin}}</p>

    <h3>Flavor & Aroma: </h3>
    <p>{{profile}}</p>

    <h3>How to brew {{name}} tea: </h3>
    <p>{{instruction}}</p><br>
</div>

<div class="list-group">
	{{#if reviews}}
		<h4>Reviews: </h4>
	    {{#each reviews}}
	    <a href="/teas/{{tea.id}}/reviews/{{id}}" class="list-group-item">
	    <p>"{{content}}"</p>
	    <h6>-- {{user.name}} on {{formattedDate}}</h6>
	    </a>
	    {{/each}}
    {{/if}}
</div>

<div>
    {{#if currentUser}}
    	<a class="btn btn-primary" href="/teas/{{id}}/reviews/new" role="button" id="add-review">Add review for "{{name}}" </a>
        <a class="btn btn-primary" href="/types/{{type_id}}/teas/{{id}}/destroy" role="button">Delete "{{name}}"</a>
    {{/if}}
</div>