<div>
    <h1>{{name}}</h1>
    <h3>Origin: </h3>
    <p>{{origin}}</p>

    <h3>Flavor & Aroma: </h3>
    <p>{{profile}}</p>

    <h3>How to brew {{name}} tea: </h3>
    <p>{{instruction}}</p><br>
</div>

<div class="list-group">
	{{#if reviews}}
		<h4>Reviews: </h4>
	    {{#each reviews}}
	    <a href="/teas/{{tea.id}}/reviews/{{id}}" class="list-group-item">
	    <p>"{{content}}"</p>
	    <p>-- {{user.name}}</p>
	    </a>
	    {{/each}}
    {{/if}}
</div>