<!DOCTYPE html>
<html>
  <head>
    <title>Tea Leaves</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/nav' %>
    <div class="container">
      <%= render 'layouts/messages' %>
    </div>
    <%= yield %>
  </body>
  <footer class="footer">
    <div class="container">
      <p class="text-muted"><span class="glyphicon glyphicon-tint" aria-hidden="true"></span> 2017 Jingru Zhang</p>
    </div>
  </footer>
</html>
